mixin header(title)
  - var fadeClass = (attributes.background_color === "background-color1") ? "blurry-color1" : "blurry-color2";
  .header-container.in-front.hidden
    .header(class!=attributes.background_color)
      .pull-left
        if block
          block
      h1.pull-left(class!=attributes.color).fade-in #{title}
      .clearfix
    .blurry-bottom(class!=fadeClass)

mixin icon-and-text(title, contents)
  .col-md-4.spacing1
    div.center-block.spacing2(class!=attributes.class)
    h2.text-center #{title}
    .details-container
      .text2.text-center #{contents}


