mixin header(title, color)
  .header.invisible
    .pull-left
      if block
        block
    h1.pull-left(class!=attributes.class) #{title}
    .email.pull-right.color2
    .clearfix

mixin icon-and-text(title, contents)
  .col-md-4
    div.center-block(class!=attributes.class)
    h2.text-center #{title}
    .a-bit-more-narrow
      .text2.text-center #{contents}


