mixin header(title, color)
  .header.hidden
    .pull-left
      if block
        block
    h1.pull-left(class!=attributes.class).fade-in #{title}
    .email.pull-right.color2
    .clearfix

mixin icon-and-text(title, contents)
  .col-md-4.spacing1
    div.center-block.spacing2(class!=attributes.class)
    h2.text-center #{title}
    .details-container
      .text2.text-center #{contents}


