doctype html
html(lang="en")
  head
    title= "GOOD"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="google-site-verification" content="auVuoHqP3NN_Xk1uW0rYMXXFOSy6EhLI0tUZgrrar7M")
    meta(charset="UTF-8")
    meta(name="title" content="Good. Save water.")
    meta(name="description" content="We're a small team located in San Francisco creating beautiful water appliances that help you track your water usage. We're committed to helping you save water.")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="icon" sizes="192x192" type="image/x-icon" href="favicon.ico")
    link(rel="shortcut icon" sizes="76x76" type="image/x-icon" href="favicon.ico")
  body
    block nav
    #wrapper.hide-overflow
      #container.container-fluid
        block content
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-68629523-1', 'auto');
      ga('send', 'pageview');
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll-probe.min.js")
    script(src="main.js")
