doctype html
html(lang="en")
  head
    title= "GOOD"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="main.js")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="google-site-verification" content="auVuoHqP3NN_Xk1uW0rYMXXFOSy6EhLI0tUZgrrar7M")
  body
    .container-fluid#container.hidden
      block content
    footer.color1.hidden
      span="Copyright 2015 good Inc. All rights reserved with love. "
      a.color1(href="http://www.dsg.do", target="_blank")="#dsg"
