doctype html
html(lang="en")
  head
    title= "GOOD"
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="main.js")
  body
    #container
      block content
    footer.color1.
      Copyright 2015 good Inc. All rights reserved with love.
