include ./includes/mixins.jade
extends ./includes/template.jade
block content
  .page.set-height.background-color1.color2#page0
    .header
      .email.pull-right.color2
      .clearfix
    .center-block.vertical-align
      #large-logo-container
        .company-logo-large-color2
      #title-container
        .text1.text-center="We support Californians reach their goal."
    .arrow-down.vertical-animate
  .page.background-color1.color2#page1
    +header("Save Water")(class="color2")
      .company-logo-small-color2
    h2.
      Good is a new shower device that can save up to 50% of your water usage, while maintaining an enjoyable shower experience.
    .spacing1
    h2.
      Good is a self-powered device with relevant real-time feedback to spur behavioral change.
  .page.background-color1.color2#page2
    +header("Impact")(class="color2")
      .company-logo-small-color2
    .row
      +icon-and-text("Save Water", "With Good, people can see their water usage in real time, getting immediate feedback showing how a change in habit can save water.")(class="savings-icon1")
      +icon-and-text("Save Money", "For the next 5 years, SF water is planning to increase the cost of water by 12% every year. Water will quickly become one of a household's costliest utility bills.")(class="savings-icon2")
      +icon-and-text("Save Energy", "2000 kWh/year. Water heating has the 2nd highest energy requirements after space heating. Saving hot water is key to achieving energy savings targets.")(class="savings-icon3")
  .page.background-color2.color3#page3
    +header("About Us")(class="color1")
      .company-logo-small-color1
    h2.
      We are a small team based in San Francisco dedicated to save water using IoT technology.
    .spacing1
    h2.
      We believe wat saving technology needs to have a better relationship with people.
  .page.background-color2.color3#page4
    +header("Here To Help")(class="color1")
      .company-logo-small-color1
    h2.color3.
      Design & User experience focus
    p.text2.color1.
      Through countless hours of sketching, mockup development, model making and discussion we discovered a singular architecture that combines subtle directional hints with classic lines - creating a refined vision of high-design that redefines the market and supasses market expectations.
    .spacing1
    h2.color3.
      We Want To Help
    p.text2.color1.
      Water is at record lows in many parts of the United States. New law mandates Californians to reduce their water consumption 20% by 2020.
    .spacing1
    h2.color1.
      Good is committed to support Californians to reach their goal.

