
@mixin animation($params...) {
  -webkit-animation: $params;
  -moz-animation:    $params;
  -ms-animation:     $params;
  -o-animation:      $params;
  animation:         $params;
}

@mixin transform($params...) {
  transform:         $params;
  -ms-transform:     $params;
  -webkit-transform: $params;
  -moz-transform:    $params;
  -o-transform:      $params;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @keyframes         #{$name} { @content; }
  @-o-keyframes      #{$name} { @content; }
  @-moz-keyframes    #{$name} { @content; }
  @-ms-keyframes     #{$name} { @content; }
}

