// COLORS
$blue:  #00AEEF;
$white: #FFFFFF;
$grey:  #807F83;

.background-color1 {
  background-color: $blue;
}

.color1 {
  color: $blue;
}

.color3 {
  color: $grey;
}

.background-color2 {
  background-color: $white;
}

.color2 {
  color: $white;
}

// FONTS
@font-face {
  font-family: "Dosis Medium";
  src: url('Dosis-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Roboto Thin";
  src: url('Roboto-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

html, body {
  font-family: "Roboto Thin", script;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 100%;
}

.header {
  font-family: "Dosis Medium", script;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 100%;
}

// CUSTOM STYLING

$font-unit: 12;
$first-page-content-width:  450px;
$first-page-content-height: 290px;
$arrow-down-width: 60px;
$arrow-down-height: 30px;

.header > h1 {
  padding-top: 22px;
}

.header > .email {
  margin-right: 24px;
  margin-top: 21px;
}

h1 {
  font-size: #{24/$font-unit}em;
  padding: 0;
  margin: 0;
}

.text1 {
  font-size: #{28/$font-unit}em;
}

.page {
  // Default in case javascript is disabled
  position: relative;
  display: none;
}

.page-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: #{-1 * $first-page-content-height/2} auto auto #{-1 * $first-page-content-width/2};
  width: $first-page-content-width;
  text-align: center;
}

@-webkit-keyframes animate { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@keyframes animate         { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@-o-keyframes animate      { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@-moz-keyframes animate    { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@-ms-keyframes animate     { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }

.vertical-animate {
  -webkit-animation: animate 0.3s ease-in-out 3s infinite alternate;
  -moz-animation:    animate 0.3s ease-in-out 3s infinite alternate;
  -ms-animation:     animate 0.3s ease-in-out 3s infinite alternate;
  -o-animation:      animate 0.3s ease-in-out 3s infinite alternate;
}

.arrow-down {
  background: url("./arrow-down.svg") no-repeat center center;
  width: $arrow-down-width;
  margin-left: #{-1 * $arrow-down-width/2};
  margin-top: 0px;
  height: $arrow-down-height;
  position: absolute;
  top: 90%;
  left: 50%;
  &:hover {
    cursor: pointer;
  }
}

#large-logo-container {
  margin-bottom: 24px;
}

.company-logo-large-color2 {
  margin: 0 auto;
  background:  url("./good-logo-white-large.png") no-repeat center center;
  width: 293px;
  height: 163px;
}

.company-logo-small-color2 {
  background: url("./good-logo-white-small.png") no-repeat center center;
  // TODO: Resize statically
  background-size: 60%;
  width: 147px;
  height: 82px;
}

.company-logo-small-color1 {
  // TODO: Get better png file
  background: url("./good-logo-blue-small.png") no-repeat center center;
  // TODO: Resize statically
  background-size: 60%;
  width: 147px;
  height: 82px;
}

.email {
  width: #{24/$font-unit}em;
  height: #{24/$font-unit}em;
  background: url("./at.svg") no-repeat center center;
  text-align: center;
  &:before {
    font-size: 1.5em;
    line-height: 1.1em;
    content: "@";
  }
  &:hover {
    cursor: pointer;
    background: url("./at-dark.svg");
  }
}

