$screen-xs-min: 480px  !default;
$screen-sm-min: 768px  !default;
$screen-md-min: 992px  !default;
$screen-lg-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// COLORS
$blue:  #00AEEF;
$white: #FFFFFF;
$grey:  #807F83;

.background-color1 {
  background-color: $blue;
}

.color1 {
  color: $blue;
}

.color3 {
  color: $grey;
}

.background-color2 {
  background-color: $white;
}

.color2 {
  color: $white;
}

// FONTS
@font-face {
  font-family: "Dosis Medium";
  src: url('Dosis-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Roboto Thin";
  src: url('Roboto-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

html, body {
  font-family: "Roboto Thin", script;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 100%;
}

.header, footer, .email {
  font-family: "Dosis Medium", script;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

// CUSTOM STYLING

$font-unit: 16;
$arrow-down-width: 38px;
$arrow-down-height: 30px;

.header {
  font-weight: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: inherit;
}

.header > h1 {
  @media (min-width: $screen-sm-min) {
    padding-top: 14px;
    padding-left: 18px;
  }
  padding-top: 7px;
  padding-left: 8px;
}

h1 {
  @media (min-width: $screen-sm-min) {
    font-size: #{40/$font-unit}em;
  }
  font-weight: bold;
  letter-spacing: .06em;
  font-size: #{28/$font-unit}em;
  padding: 0;
  margin: 0;
}

h2 {
  @media (min-width: $screen-sm-min) {
    font-size: #{57/$font-unit}em;
  }
  letter-spacing: 0.055em;
  line-height: 1.4em;
  font-weight: bold;
}

.text1 {
  font-weight: bold;
  @media (min-width: $screen-sm-min) {
    font-size: #{38/$font-unit}em;
    letter-spacing: .05em;
  }
  font-size: 7vw;
}

.text2 {
  @media (min-width: $screen-sm-min) {
    font-size: #{24/$font-unit}em;
  }
  letter-spacing: .05em;
  line-height: 1.5em;
}

.details-container {
  @media (min-width: $screen-sm-min) {
    padding-top: 10px;
  }
  margin: auto 4%;
}

.page {
  @media (min-width: $screen-sm-min) {
    padding-left: 165px;
    padding-top: 5%;
  }
  padding: 10%;
  // max-width: 615px;
}

#container {
  padding: 0;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@-webkit-keyframes fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes         fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes      fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes    fade { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes     fade { 0% { opacity: 0; } 100% { opacity: 1; } }

.fade-in {
  -webkit-animation: fade 0.5s linear;
  -moz-animation:    fade 0.5s linear;
  -ms-animation:     fade 0.5s linear;
  -o-animation:      fade 0.5s linear;
}

.slow-fade-in {
  -webkit-animation: fade 0.8s linear;
  -moz-animation:    fade 0.8s linear;
  -ms-animation:     fade 0.8s linear;
  -o-animation:      fade 0.8s linear;
}

.in-front {
  z-index: 2;
}

.blurry-top {
  border-width: 8px 0 0 0;
  border-style: solid;
  border-color: transparent;

  -webkit-border-image: -webkit-linear-gradient(bottom, $blue 0%, $white 100%) fill 100% 0 stretch;
  -moz-border-image:            linear-gradient(bottom, $blue 0%, $white 100%) fill 100% 0 stretch;
  -o-border-image:           -o-linear-gradient(bottom, $blue 0%, $white 100%) fill 100% 0 stretch;
  border-image:            -moz-linear-gradient(bottom, $blue 0%, $white 100%) fill 100% 0 stretch;
}

#water-animation-initial {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;

  -webkit-transition: height 4s cubic-bezier(0.390, 0.060, 0.105, 0.980) 0s;
  -moz-transition:    height 4s cubic-bezier(0.390, 0.060, 0.105, 0.980) 0s;
  -ms-transition:     height 4s cubic-bezier(0.390, 0.060, 0.105, 0.980) 0s;
  -o-transition:      height 4s cubic-bezier(0.390, 0.060, 0.105, 0.980) 0s;
  transition:         height 4s cubic-bezier(0.390, 0.060, 0.105, 0.980) 0s;
}

@-webkit-keyframes fade-in-out { 0% { opacity: 0; } 25% { opacity: 1; } 75% { opacity: 1; } 100% { opacity: 0; } }
@keyframes         fade-in-out { 0% { opacity: 0; } 25% { opacity: 1; } 75% { opacity: 1; } 100% { opacity: 0; } }
@-o-keyframes      fade-in-out { 0% { opacity: 0; } 25% { opacity: 1; } 75% { opacity: 1; } 100% { opacity: 0; } }
@-moz-keyframes    fade-in-out { 0% { opacity: 0; } 25% { opacity: 1; } 75% { opacity: 1; } 100% { opacity: 0; } }
@-ms-keyframes     fade-in-out { 0% { opacity: 0; } 25% { opacity: 1; } 75% { opacity: 1; } 100% { opacity: 0; } }

.fade-in-and-out {
  -webkit-animation: fade-in-out 3s ease-in-out 0s 1 normal;
  -moz-animation:    fade-in-out 3s ease-in-out 0s 1 normal;
  -ms-animation:     fade-in-out 3s ease-in-out 0s 1 normal;
  -o-animation:      fade-in-out 3s ease-in-out 0s 1 normal;
  animation:         fade-in-out 3s ease-in-out 0s 1 normal;
}

#problem1, #problem2 {
  z-index: 3;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-align: center;
}

@-webkit-keyframes up-and-down { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@keyframes up-and-down         { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@-o-keyframes up-and-down      { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@-moz-keyframes up-and-down    { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }
@-ms-keyframes up-and-down     { 0% { margin-top: 0px; } 100% { margin-top: 3px; } }

.vertical-animate {
  -webkit-animation: up-and-down 0.3s ease-in-out 2s infinite alternate;
  -moz-animation:    up-and-down 0.3s ease-in-out 2s infinite alternate;
  -ms-animation:     up-and-down 0.3s ease-in-out 2s infinite alternate;
  -o-animation:      up-and-down 0.3s ease-in-out 2s infinite alternate;
  animation:         up-and-down 0.3s ease-in-out 2s infinite alternate;
}

.arrow-down {
  background: url("./arrow-down.svg") no-repeat center center;

  width:  #{$arrow-down-width/2};
  height: #{$arrow-down-height/2};
  margin-left: #{-1 * $arrow-down-width/4};

  @media (min-width: $screen-sm-min) {
    width: $arrow-down-width;
    height: $arrow-down-height;
    margin-left: #{-1 * $arrow-down-width/2};
  }

  margin-top: 0px;
  position: absolute;
  left: 50%;
  &:hover {
    cursor: pointer;
  }
}

#large-logo-container {
  margin-bottom: 3%;
}

#title-container {
  margin: auto auto;
  width: 70vw;
  @media (min-width: $screen-sm-min) {
    width: 450px;
  }
}

.company-logo-large-color2 {
  margin: 0 auto;
  background:  url("./good-logo-white-large.png") no-repeat center center;
  background-size: 100%;
  width: 50vw;
  height: 28vw;
  @media (min-width: $screen-sm-min) {
    width: 293px;
    height: 163px;
  }
}

.company-logo-small-color2 {
  background: url("./good-logo-white-small.png") no-repeat center center;
}

.company-logo-small-color1 {
  // TODO: Get better png file
  background: url("./good-logo-blue-small.png") no-repeat center center;
}

.company-logo-small-color2, .company-logo-small-color1 {
  // TODO: Resize statically
  background-size: 68%;
  width: 100px;
  height: 50px;
  @media (min-width: $screen-sm-min) {
    width: 147px;
    height: 82px;
  }
}

.spacing1 {
  padding-bottom: 6%;
}

.spacing2 {
  margin-bottom: -14px;
}

.email {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  @media (min-width: $screen-sm-min) {
    margin-right: 30px;
    margin-top: 20px;
  }
  margin-right: 5px;
  margin-top:   5px;

  width: #{40/$font-unit}em;
  height: #{40/$font-unit}em;
  background: url("./at.svg") no-repeat center center;
  text-align: center;

  &:before {
    font-size: 1.5em;
    line-height: 1.4em;
    content: "@";
  }
  &:hover {
    cursor: pointer;
    @media (min-width: $screen-sm-min) {
      background: url("./at-dark.svg");
    }
  }
  &:active {
    background: url("./at-dark.svg");
  }
}

.savings-icon1 {
  background: url("./save-water.svg") no-repeat center center;
}

.savings-icon2 {
  background: url("./save-money.svg") no-repeat center center;
}

.savings-icon3 {
  background: url("./save-energy.svg") no-repeat center center;
}

.savings-icon1, .savings-icon2, .savings-icon3 {
  background-size: 100%;
  width: 220px;
  height: 220px;
}

footer {
  padding: 6%;
  font-size: #{22/$font-unit}em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

